
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  scroll-behavior: smooth;
}

header {
  background: linear-gradient(135deg, #1f316f, #3a539b);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  transition: transform 0.3s;
}

header h1:hover {
  transform: scale(1.05);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 800px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.info-card {
  background-color: #fff;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.name-icon{
  width: 24px;                 
  height: 24px;                
  margin-right: 8px; 
}

.name-text {
  font-size: 16px;             
  color: #000;                 
}

p {
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
  color: #333;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  margin-top: 0;
  padding-left: 20px;
  overflow: hidden;
}

li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

a {
  text-decoration: none;
  color: #337ab7;
  transition: color 0.3s ease;
}

a:hover {
  color: #23527c;
}

button {
  background-color: #55679C;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #000000;
  transform: scale(1.05);
}

#bmi-result {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

nav {
  background: linear-gradient(90deg, #7C93C3, #5a74a6);
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease, background 0.3s ease;
  padding: 0px 15px;
  border-radius: 5px;
}

.nav-links a:hover {
  color: #000000;
  background: rgba(255, 255, 255, 0.3);
}

.bmi-form-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Full viewport height */
  background-color: #f4f4f4; /* Background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bmi-form {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 90%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-points {
  list-style: none;
  padding: 0;
}

.custom-points li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.custom-points li span {
  color: #4CAF50; 
  margin-right: 10px;
  font-size: 18px;
}

.bmi-icon {
  display: inline-block;
  width: 10px; 
  height: 10px;
  border-radius: 50%; 
  margin-right: 8px; 
}

.bmi-underweight .bmi-icon {
  background-color: #4a90e2; 
}

.bmi-normal .bmi-icon {
  background-color: #28a745; /* Green */
}

.bmi-overweight .bmi-icon {
  background-color: #ffc107; /* Yellow */
}

.bmi-obese .bmi-icon {
  background-color: #dc3545; /* Red */
}

.personal-info-section {
  margin: 20px;
}

.personal-info-content {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center;
}

.info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0; 
}

.name-icon,
.id-icon {
  margin-right: 8px; 
}

.name-text,
.id-text {
  text-align: left; 
}

.image-container {
  text-align: center; /
}

.center-image {
  max-width: 500%; 
  height: 300px;   
  display: inline-block; 
  object-fit: cover; 
}

.mental-health-container {
  display: flex;                
  align-items: center;          
  margin-bottom: 15px;          
}

.mental-health-icon {
  width: 50px;                 
  height: auto;                 
  margin-right: 10px;           
}

